<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>ERROR</h1>
    <p>
        <%= message %>
    </p>
    <div>
        <a href="/">Back to home</a>
    </div>
</body>

</html>