<!DOCTYPE html>
<html>

<head>
    <title>3D model viewer demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>3D model viewer demo</h1>
    <nav>
        <ul>
            <li><a href="/babylon">Babylon Viewer</a></li>
            <li><a href="/model-viewer">Model Viewer</a></li>
            <li><a href="/j3mv">Js 3D Model Viewer</a></li>
            <li><a href="/three">Three.js Viewer</a></li>
        </ul>
    </nav>
</body>

</html>